.start {
    background-color: rgb(45, 50, 55);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.izgled {
    display: flex;
    border: 1px white solid;
    flex-direction: column;
    margin: 5px;
}

.basicInfo {
    display: flex;
    width: 100%;
}

.labela {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5px
}

.info {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.sektori {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.red {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
}

.redV2 {
    display: flex;
    flex-wrap: wrap;
}

.radnici {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.setButton {
    width: 100px;
    min-height: 100px;
    background-color: rgb(45, 50, 55);
    border-radius: 30px;
    margin: 5px;
}

.radButton {
    min-width: 100px;
    min-height: 60px;
    background-color: rgb(45, 50, 55);
    border-radius: 30px;
    margin: 5px;
}

.confirm {
    background-color: rgb(5, 112, 5);
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 30px;
}

.deny {
    background-color: red;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 30px;
}

.azur {
    background-color: rgb(145, 171, 0);
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 30px;
}

.deoZaRadnike {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
}

.endForme {
    display: flex;
    justify-content: center;
}

.backButton {
    background-color: rgb(45, 50, 55);
    border-radius: 30px;
    margin: 10px;
}

.spacer {
    width: 20px;
}

.topSpace {
    margin-top: 20px;
}

.specialFont {
    font-size: 40px;
    order: 2;
}

.specialFontv2 {
    font-size: 30px;
    order: 2;
}

.formFont {
    font-size: 20px;
}

.prikazButton {
    font-size: 18px;
    word-break: break-all;
}

button:hover {
    cursor: pointer;
}

.uredi {
    margin-top: 0px;
}

.colorMeBlind {
    text-align: center;
}

.whiteFont {
    color: white;
}

.celaForma {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.hint {
    font-size: 12px;
    margin-bottom: 6px;
}

.formUnos {
    background-color: rgb(45, 50, 55);
}

.space {
    margin-bottom: 20px;
}

.nestani {
    display: none;
}